img{
    width: 150px;

}
tabel{
    text-align: center;
    margin: auto;
}
.right:hover{
    animation: moveandRotate 7s 2 linear ;

}
@keyframes moveandRotate{
    0%{
        transform: translateX(0) rotate(0deg);

    }
    30%{
        transform: translateX(150px) rotate(180deg);
    }
    50%{
        transform: translateX(300px) rotate(360deg);
    }
}
.left:hover{
    animation: moveandleftRotate 7s 2 linear ;

}
@keyframes moveandleftRotate{
    0%{
        transform: translate(0,0) rotate(0deg);

    }
    30%{
        transform: translate(-150px,0px) rotate(-180deg);
    }
    50%{
        transform: translate(-300px,0px) rotate(-360deg);
    }
}
.bottom:hover{
    animation: bottomRotate 7s 2 linear ;

}
@keyframes bottomRotate{
    0%{
        transform: translate(0,0) rotate(0deg);

    }
    30%{
        transform: translate(0px,150px) rotate(180deg);
    }
    50%{
        transform: translate(0px,300px) rotate(360deg);
    }
}
